body {
  background-color: rgb(24, 24, 24);
  /* font-family: Helvetica, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  transition: background-color 0.3s ease;
}

#root {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}
